{% extends 'base.html' %}

{% block content %}
<div id="login-modal" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="{% url 'registration_register' %}">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}