{% extends 'base.html' %}
{% block title %}
Meet our masterminds
{%endblock%}

{% block content %}
<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 container">
    <h1>Our authors</h1>
    <div class="row">
        {% for author in authors %}
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader" style="background: url('{{author.background_photo.url}}')">
                </div>
                <div class="avatar">
                    <img alt="" src="{{ author.profile_photo.url }}">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="{% url 'author' author.id %}">{{author.name}}</a>
                    </div>
                    <div class="desc">{{author.short_desc}}</div>
                </div>
                <div class="bottom">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pager">
        {% if posts.has_next %}
        <li class="next">
            <a href="?page={{ posts.next_page_number }}">Next Posts &rarr;</a>
        </li>
        {% endif %}
        <li class="next">
            <span class="post-meta">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</span>
        </li>
        {% if posts.has_previous %}
        <li class="next">
            <a href="?page={{ posts.previous_page_number }}">&larr; Previous Posts</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}