{% extends 'base.html' %}
{% block heading %}
<div class="post-heading">
    <h1>{{author.name}}</h1>
    <h2 class="subheading">{{author.short_desc}}</h2>
</div>
{% endblock %}
{% block content %}

<div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader" style="background: url('{{author.background_photo.url}}')">
                </div>
                <div class="avatar">
                    <img alt="" src="{{ author.profile_photo.url }}">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="{% url 'author' author.id %}">{{author.name}}</a>
                    </div>
                    <div class="desc">{{author.short_desc}}</div>
                </div>
                <div class="bottom">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-1 container">
            <h3>Bio</h3>
            <p>
            <blockquote>{{author.bio|safe}}</blockquote>
            </p>
        </div>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h3>Posts by this author</h3>
    {% for post in posts %}
    <div class="post-preview">
        <a href="{% url 'post' post.id %}">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <h3 class="post-subtitle">
                {{post.exerpt|safe}}
            </h3>
            <p class="post-meta">Posted by <a href="#">{{post.author.name}}</a> on {{post.created_at}}</p>
        </a>
    </div>
    <hr>
    {% endfor %}
    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="{% url 'authors' %}">&larr; All Authors</a>
        </li>
        {% if posts.has_next %}
        <li class="next">
            <a href="?page={{ posts.next_page_number }}">Next &rarr;</a>
        </li>
        {% endif %}
        <li class="next">
            <span class="post-meta">Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</span>
        </li>
        {% if posts.has_previous %}
        <li class="next">
            <a href="?page={{ posts.previous_page_number }}">&larr; Previous</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}