{% extends 'base.html' %}
{% block heading %}
<div class="post-heading">
    <h1>{{post.title}}</h1>
    <h2 class="subheading">{{post.exerpt}}</h2>
    <span class="meta">Posted by <a href="#">{{post.author}}</a> on {{post.created_at}}</span>
</div>
{% endblock %}
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{post.content|safe}}
            </div>
        </div>
    </div>
</article>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <!--{% if request.user.is_authenticated %}-->
    <!--{% if request.user.first_name %}-->
    <!--<h1>Witaj {{request.user.first_name}}!</h1>-->
    <!--{% else %}-->
    <!--<h1>Witaj {{request.user.username}}!</h1>-->
    <!--{% endif %}-->
    <!--{% else %}-->
    <!--<h1>Witaj towarzyszu!</h1>-->
    <!--{% endif %}-->
    <!-- Pager -->
    <ul class="pager">
        <li class="next">
            <a href="{% url 'posts' %}">All Posts &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}